.card {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 0.75rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    width: 35%;
    margin: 1.5rem auto;
  
  }
  
  .cardHeader {
    border-bottom: 1px solid rgb(148, 148, 148);
    padding: 0.5rem;
    font-weight: bold;
    background-color: rgb(235, 235, 235);
    text-align: center;
    font-size: 1.5rem;
  }
  
  .cardBody {
    display: flex;
    padding: 0.75rem;
  }
  
  .cardText {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem 0;
  }
  
  .cardText h4 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
  
  .cardText form {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-evenly;
    margin-top: 1.5rem;
  }
  
  .cardText form > div {
      margin-top: 1rem;
  }
  
  .cardText form .orDiv {
      text-align: center;
      font-weight: bold;
  }

  .cardText input {
      width: 100%;
      height: 2rem;
      border: 1px solid rgb(148, 148, 148);
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.5rem;
  }

  .cardText input::placeholder {
      font-weight: bold;
  }

  .cardText button {
    background-color: rgb(218, 5, 147);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 0.65rem;
    cursor: pointer;
    margin-top: auto;
    padding: 0.5rem;
    margin-top: 1rem;
}
/* 
  .loadingRing {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 3rem 0;
  }
  
  .loadingRing:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-color: rgb(218, 5, 147) transparent rgb(218, 5, 147) transparent;
    animation: loadingRing 1.2s linear infinite;
  }
  
  @keyframes loadingRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
  